server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**
        - id: sale-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/sales/**
        - id: report-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/reports/**

jwt:
  secret: managing-shop-warehouse-inventory-by-simon

logging:
  level:
    com.supermarket.gateway: DEBUG